@model IEnumerable<Airplanes.Models.DbTicket>

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header bg-primary text-white">
        Thông tin chi tiết
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead class="blue-gradient text-white">
                <tr>
                    <th class="font-weight-bold">
                        #ID
                    </th>
                    <th class="font-weight-bold">
                        Hạng vé
                    </th>
                    <th class="font-weight-bold">
                        Mã chuyến bay
                    </th>
                    <th class="font-weight-bold">
                        Hành khách
                    </th>
                    <th class="font-weight-bold">
                        Giá vé
                    </th>
                    <th class="font-weight-bold">
                        Ngày đăng ký
                    </th>
                    <th class="font-weight-bold">
                        Trạng thái
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="px-auto py-auto">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DbTicketClass.TicketClassName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DbFlight.RollNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DbPassenger.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td class="green-text">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td class="px-0">
                            <a class="btn btn-sm btn-primary btn-rounded my-0 waves-effect z-depth-0" asp-action="Cancel" asp-route-id="@item.Id" asp-route-oId="@ViewData["OrderId"]" asp-route-uId="@ViewData["UId"]">Cancel</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-info" href="/History/HistoryOrder?UId=@ViewData["UId"]">Trở về</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
