@using Airplanes.Models.Custom
@inject SignInManager<AirplanesUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-justified flex-column left">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)">
        <a class="btn btn-info btn-block" asp-page="./Index">Tài khoản</a>
    </li>

    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) mt-1">
        <a class="btn btn-info btn-block" id="change-password" asp-page="./ChangePassword">Mật khẩu</a>
    </li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) mt-1">
            <a class="btn btn-info btn-block" id="external-login" asp-page="./ExternalLogins">External logins</a>
        </li>

    }
    <li class="mt-1">
        <a class="btn btn-info btn-block" href="#">Lịch sử giao dịch</a>
    </li>
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) mt-1">
        <a class="btn btn-info btn-block" asp-page="./TwoFactorAuthentication">Đăng nhập 2 bước</a>
    </li>

    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) mt-1">
        <a class="btn btn-info btn-block" asp-page="./PersonalData">Dữ liệu cá nhân</a>
    </li>


</ul>
