@model Airplanes.Models.DbRewardPointsLog

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DbRewardPointsLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AirplanesUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AirplanesUser.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameLog)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameLog)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
