@model Airplanes.Models.DbAvailableSeat

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DbAvailableSeat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DbFlight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DbFlight.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DbTicketClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DbTicketClass.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
