@model Airplanes.Controllers.MainController.UsersViewController.DetailFlight


    @{
        ViewData["Title"] = "Details";
    }

    <h2>Details</h2>

    <div>
        <h4>DbFlight</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal" style="border: 1px solid black; margin-top: 8px">
                    <dt>
                        @Html.DisplayNameFor(model => model.DbFlight.RollNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DbFlight.RollNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DbFlight.FlightTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DbFlight.FlightTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DbFlight.TimeOfTransit)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DbFlight.TimeOfTransit)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DbFlight.FlightDuration)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DbFlight.FlightDuration)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DbFlight.DbPlane.PlaneName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DbFlight.DbPlane.PlaneName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DbFlight.DbRoute.FromAirport)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DbFlight.DbRoute.FromAirport)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DbFlight.DbRoute.ToAirport)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DbFlight.DbRoute.ToAirport)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DbFlight.Status)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DbFlight.Status)
                    </dd>

                </dl>
            </div>
            <div class="col-md-6">
                @*<label>@ViewBag.Seat</label>*@
                <h3 style="text-align: center">@ViewBag.Seat</h3>
                <h3 style="text-align: center">@ViewBag.Seat2</h3>
                <dl class="dl-horizontal">
                    @foreach (var item in Model.DbAvailableSeats)
                    {
                        <div style="border: 1px solid black; margin-bottom: 10px">
                            <dt>
                                @Html.DisplayNameFor(modelItem => item.DbTicketClass.TicketClassName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.DbTicketClass.TicketClassName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(modelItem => item.DbTicketClass.Price)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.DbTicketClass.Price)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(modelItem => item.Quantity)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(modelItem => item.RestTicket)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.RestTicket)
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-6">
        <a asp-action="ListFlightChoise">Back to List</a>
    </div>
    <div class="col-md-6">
        <a href="/usersview/PickUpTicket?flightId=@ViewData["flightId"]">Pick up ticket</a>
    </div>
</div>