@model Airplanes.Controllers.MainController.UsersViewController.DetailFlight
<div>
    <div class="row">
        <div class="col-md-12">

            <div class="card card-image" style="background-image: url('https://i.imgur.com/1ZKi6jD.jpg');">

                <!--Pricing card-->
                <div class="text-white text-center pricing-card d-flex align-items-center rgba-indigo-strong py-3 px-3">

                    <!--Content-->
                    <div class="card-body">
                        <h5>Chuyến bay: <strong>@Html.DisplayFor(model => model.DbFlight.RollNumber)</strong></h5>
                        <!--Price-->
                        <div class="price pt-0">
                            <h6 class="cyan-text">@Html.DisplayFor(model => model.DbFlight.DbPlane.PlaneName)</h6>
                        </div>
                        <!--Price-->
                        <ul class="striped">
                            <li>
                                <p><strong>Khởi hành: </strong>@Html.DisplayFor(model => model.DbFlight.FlightTime)</p>
                            </li>
                            <li>
                                <p><strong>Trễ chuyến:</strong> @Html.DisplayFor(model => model.DbFlight.TimeOfTransit) phút</p>
                            </li>
                            <li>
                                <p><strong>Thời gian bay:</strong> @Html.DisplayFor(model => model.DbFlight.FlightDuration) phút</p>
                            </li>
                            <li>
                                <p><strong>@Html.DisplayFor(model => model.DbFlight.DbRoute.FromAirport)</strong> >> <strong>@Html.DisplayFor(model => model.DbFlight.DbRoute.ToAirport)</strong></p>
                            </li>
                            <li>
                                <p><strong>Trạng thái:</strong> @Html.DisplayFor(model => model.DbFlight.Status)</p>
                            </li>
                        </ul>
                        <a href="/DbOrders/Create?flightId=@ViewData["flightId"]" class="btn btn-outline-white">Đặt vé ngay</a>
                    </div>

                </div>
                <!--Pricing card-->
            </div>
        </div>

        <div class="col-md-12">
            @*<label>@ViewBag.Seat</label>*@
            <h3 style="text-align: center">@ViewBag.Seat</h3>
            <h3 style="text-align: center">@ViewBag.Seat2</h3>
            <div class="row">
                @foreach (var item in Model.DbAvailableSeats)
                {

                    <div class="col-lg-4 col-md-12 mb-4">

                        <!-- Card -->
                        <div class="card card-image" style="background-image: url('http://campinglecouriou.com/wp-content/uploads/2018/10/business-card-background-design-1-678x381.jpg');">

                            <!--Pricing card-->
                            <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3">

                                <!--Content-->
                                <div class="card-body">
                                    <h5>@Html.DisplayFor(modelItem => item.DbTicketClass.TicketClassName)</h5>
                                    <ul class="striped">
                                        <li>
                                            <p><strong>Giá vé:</strong> @Html.DisplayFor(modelItem => item.DbTicketClass.Price) VNĐ</p>
                                        </li>
                                        <li>
                                            <p><strong>Tổng số vé</strong> @Html.DisplayFor(modelItem => item.Quantity)</p>
                                        </li>
                                        <li>
                                            <p><strong>Số vé trống</strong> @Html.DisplayFor(modelItem => item.RestTicket)</p>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <!--Pricing card-->
                        </div>
                    </div>
                    <!--Grid column-->
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <a asp-action="ListFlightChoise">Back to List</a>
    </div>
    <div class="col-md-6">
        <a href="/DbOrders/Create?flightId=@ViewData["flightId"]">Pick up ticket</a>
        @*<a href="/UsersView/PickUpTicket?flightId=@ViewData["flightId"]">Pick up ticket</a>*@
    </div>
</div>
